/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html,body{
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    ::-webkit-scrollbar { width: 0 !important }
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none; 
}

.headings {
    color:#253858;
}
.subtitle{
    color:#42526E;
}