<div class="dashboard-main container">

  <div class="createe-user-section">
    <h2 class="headings my-3">
      Create New Users and Clients
    </h2>

    <div class="d-flex">
      <button class="btn btn-dark mx-2" (click)="onNavigateToSignUp('user')">Create Employee</button>
      <button class="btn btn-dark mx-2" (click)="onNavigateToSignUp('client')">Create Client</button>
    </div>
  </div>

  <div class="projects-section">

    <div class="project-heading d-flex justify-content-between align-items-center">
      <h2 class="headings my-3">
        Your Project
      </h2>

      <button class="btn btn-dark" (click)="openCreateNewProjectPopup()">
        <small>Add New Project &nbsp;&nbsp;</small>
        <small>+</small> 
      </button>
    </div>

    <div class="projects-carousel row" *ngIf="projectList.length > 0">
      <div *ngFor="let project of projectList" style="padding: 1rem;" class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card d-flex " [ngStyle]="{'border-left': getCardBorder() }" (click)="goToProject(project._id)">
          <div class="card-body">
            <h5 class="card-title">{{project.project_title || "Project"}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{project.total_cost | currency}}</h6>
            <p class="card-text">{{project.description}}</p>
            <!-- <a href="#" class="card-link">Card link</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="projects-carousel-backup w-100 d-flex justify-content-center" *ngIf="projectList.length == 0">
        <h6 class="text-muted text-center">No Projects Available <br> It may take some time to load projects.</h6>
    </div>


    <div class="showcase-section">

      <div class="project-heading d-flex justify-content-between align-items-center">
        <h2 class="headings my-3">
          Our Achievements
        </h2>
  
        <button class="btn btn-dark" (click)="openCreateNewShowcasePostPopup()">
          <small>Add New Post &nbsp;&nbsp;</small>
          <small>+</small> 
        </button>
      </div>
  
      <!-- <div class="projects-carousel row">
        <div *ngFor="let project of projectList" style="padding: 1rem;" class="col-lg-3 col-md-4 col-sm-6 col-12">
          <div class="card d-flex " [ngStyle]="{'border-left': getCardBorder() }" (click)="goToProject(project.id)">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div> -->

      <div class="showcase-posts" *ngIf="showcasePostList.length > 0">
        <div class="post card"  *ngFor="let post of showcasePostList; let i=index;">
          <div class="row heading-container">
            <h4 class="headings">{{post.title}}</h4>
          </div>
          <div class="row content-container ">
            <div class="cover-img col-md-6 col-sm-12 d-flex flex-row justify-content-start align-items-center" *ngIf="i%2">
              <img [src]="post.cover_img" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="subtitle" *ngFor="let cont of post.content">
                {{cont}}
              </p> 
            </div>
            <div class="cover-img col-md-6 col-sm-12 d-flex flex-row justify-content-end align-items-center" *ngIf="i%2==0">
              <img [src]="post.cover_img" alt="">
            </div>
          </div>
          <div class="footer-container">
            <hr>
            <img src="assets/Images/like-icon.svg" width="32" alt="">
            <img src="assets/Images/liked-icon.svg" width="32" alt="">
          </div>

        </div>
      </div>

  </div>




</div>