<div class="training-home-main">

    <h2 class="headings">
        Training
    </h2>

    <div class="training-static">
        <p class="substitle">
            lets train these baakas
            <br>
            these idiotas
            <br>you idiota
        </p>
    </div>
    
    <div class="create-assign-trainings">
        
        <div class="createNewTrainingSection">
            <div [collapse]="createNewTraining" > 
                <!-- <button class="btn btn-dark" id="createNewTrainingButton" (click)="openCollapsedSection('cn')"> Create New Training &nbsp; + </button>  -->
                <button class="btn btn-dark" id="createNewTrainingButton"> Create New Training &nbsp; + </button> 
            </div>
            <div collapseContent  #createNewTraining="collapseContent" class="ca-content create-training" >
              <div class="card card-body">
                <h5 class="card-title">New Training</h5>
                <form>
                    <br>
                    <div class="form-group">
                        <label for="trainingi-title">Title</label>
                        <input type="text" class="form-control" id="trainingi-title" name="trainingi-title" [(ngModel)]="newTrainingForm.title">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="trainingi-reward">Reward Points</label>
                        <input type="number" class="form-control" id="trainingi-reward" min="0" name="trainingi-reward" [(ngModel)]="newTrainingForm.reward_points">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="training-content">Content</label>
                        <textarea class="form-control" id="training-content" rows="5" name="trainingi-content" [(ngModel)]="newTrainingForm.content"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>URLs</label>
                        <div *ngFor="let url of newTrainingForm.urls; let i=index;" class="url-inputs d-flex align-items-center">
                            <input type="url" class="form-control" id="trainingi-url-{{i}}" min="0" name="trainingi--url-{{i}}" [(ngModel)]="newTrainingForm.urls[i]">
                            <img src="assets/Images/minus-icon.svg" type="button" alt="Remove" height="20" (click)="removeNewTrainingUrl(i)" class="remove-icon">
                        </div>
                        <br *ngIf="newTrainingForm.urls.length==0">
                        <img src="assets/Images/plus-icon.png" (click)="addNewTrainingUrl()" height="20" type="button" alt="Add">
                    </div>
                    <br>
                    <div class="form-group w-100 d-flex justify-content-end">
                        <button class="btn btn-secondary" type="button" (click)="resetNewTrainingData()" style="margin-right:1rem">Reset</button>
                        <button class="btn btn-dark" type="button" (click)="createTraining()">Create</button>
                    </div>
                </form>
              </div>
            </div>
        </div>
        <br>
        <div class="assugnTrainingSection">
            <div [collapse]="assignNewTraining" > 
                <!-- <button class="btn btn-dark" id="assignTrainingButton" (click)="openCollapsedSection('an')"> Assign Training </button>  -->
                <button class="btn btn-dark" id="assignTrainingButton"> Assign Training </button> 
            </div>
            <div collapseContent  #assignNewTraining="collapseContent"  class="ca-content assign-training">
                <div class="card card-body">
                    <h5 class="card-title">Assign Training</h5>
                    <form>
                        <br>
                        <div class="form-group">
                            <label for="trainingi-title">Title</label>
                            <input type="text" class="form-control" id="trainingi-title" name="trainingi-title" [(ngModel)]="newTrainingForm.title">
                            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                        </div>
                        <br>
                        <div class="form-group w-100 d-flex justify-content-end">
                            <button class="btn btn-secondary" type="button" (click)="resetNewTrainingData()" style="margin-right:1rem">Cancel</button>
                            <button class="btn btn-dark" type="button" (click)="createTraining()">Create</button>
                        </div>
                    </form>
                  </div>
            </div>
        </div>
        
    </div>

    <div class="employee-trainings">

        <div class="training-navbar w-100 d-flex justify-content-center bg-white">
            <div class="tab substitle" (click)="changeTrainingTab('in-progress')" [ngStyle]="currentTrainingTab=='in-progress' ? {'border-bottom':'5px solid #343a40'} : {'border-bottom':'0px'}">In Progress</div>
            <div class="tab substitle" (click)="changeTrainingTab('completed')" [ngStyle]="currentTrainingTab=='completed' ? {'border-bottom':'5px solid #343a40'} : {'border-bottom':'0px'}">Completed</div>
        </div>
        <div class="trainings-list">
            <div *ngFor="let course of trainingData" class="d-flex flex-column align-items-center w-100">
                <div class="card col-md-9 col-sm-10" *ngIf="currentTrainingTab == 'in-progress' ? !course.completed : course.completed" (click)="openTraining(course)">
                    <div class="row w-100 m-0">
                        <div class="training-image col-md-3 col-sm-12 d-flex justify-content-center">
                            <img src="assets/Images/training-dummy-img.jpg" alt="">
                        </div>
                        <div class="training-description col-md-9 col-sm-12 d-flex flex-column justify-content-between">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="headings">{{course.title}}</h5>
                                    <div class="reward">{{course.reward_points}}</div>
                                </div>
                                <p class="subtitle">Nice Garry Nice</p>
                            </div>
                            <div class="d-flex flex-column">
                                <span>Modules : {{course.urls.length}}</span>
                                <span *ngIf="course.completed">
                                    <img src="assets/Images/green-tick.svg" height="16" alt="done" >
                                    Great Work! You have passed all requirements and can view your course certificate now.
                                </span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    

</div>